{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Account Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'drone_cones/style.css' %}"/>
</head>

<body>

    <div class="topnav">
        <a href="{% url 'drone_cones:home' %}"> <u>H</u>ome </a>
        <a href="{% url 'drone_cones:order' %}"> <u>O</u>rder </a>
        <a href="{% url 'drone_cones:drones' %}"> <u>D</u>rones </a>
        <a href="{% url 'drone_cones:account' %}"> <u>A</u>ccount </a>
        <a href="{% url 'drone_cones:manager' %}"> <u>M</u>anager</a>
        <a href="/dronecones/logout">Logout</a>
        <img class="baricon" src="{% static 'drone_cones/images/computer.png' %}"  style="cursor: pointer" alt="test">
        <img class="peopleicon" src="{% static 'drone_cones/images/address_book_users.png' %}" alt="test">
    </div>

    <div class="page-container">
        <div class="bar"> ACCOUNT </div>
        <div class="outer-border">
            <div class="inner-border">
                <div> Account Page </div>
                <div> ------------ </div>

                <div> Username: {{username}} </div>
                <div> First Name: {{first_name}} </div>
                <div> Last Name: {{last_name}}  </div>
                <div> Date Joined: {{date_joined}}  </div>
                <div style="margin-top: 5px; margin-bottom: 1em"></div>

                <div>
                    <a class="order" style="margin-left:0"  href="{% url 'drone_cones:edit_account' %}">EDIT</a>
                </div>
            </div>
        </div>

        <div class="outer-border">
            <div class="inner-border">
                <div> Shipping Info </div>
                <div> ------------  </div>

                <div> Address 1: {{address_1}} </div>
                <div> Address 2: {{address_2}} </div>
                <div> City:	 {{city}}      </div>
                <div> State:     {{state}}     </div>
                <div> ZIP:       {{zip}}       </div>
                <div style="margin-top: 5px; margin-bottom: 1em"></div>
                <div>
                    <a class="order" style="margin-left:0" href="{% url 'drone_cones:edit_address' %}">EDIT</a>
                </div>
            </div>
        </div>

        <div class="outer-border">
            <div class="inner-border">
                <div> Order History </div>
                <div> ------------ </div>

                {% for order in orderList %}
                    <div class="dateOrdered">
                        Date: {{ order.timeOrdered }}
                    </div>
                    <div>
                        <div class="orderHistoryScoops"> SCOOPS </div>
                        {% if order.items.0.flavor1 or order.items.0.flavor2 %}
                                <div class="orderItems">
                                        <div class="orderItem" id="flavor1">
                                            {{ order.items.0.flavor1 }}
                                        </div>
                                        <div class="orderItem" id="flavor2">
                                            {{ order.items.0.flavor2 }}
                                        </div>
                                </div>
                        {% else %}
                                <div class="orderItems">
                                    <div class="orderItem">
                                        No scoops were selected
                                    </div>
                                </div>
                        {% endif %}
                        <div class="orderHistoryToppings"> TOPPINGS </div>
                        {% if order.items.0.toppings.first or order.items.0.toppings.second or order.items.0.toppings.third %}
                            <div class="orderItems">
                                <div class="orderItem" id="topping1">
                                    {{ order.items.0.toppings.first }}
                                </div>
                                <div class="orderItem" id="topping2">
                                    {{ order.items.0.toppings.second }}
                                </div>
                                <div class="orderItem" id="topping3">
                                    {{ order.items.0.toppings.third }}
                                </div>
                            </div>
                        {% else %}
                        <div class="orderItems">
                            <div class="orderItem">
                                No toppings were selected
                            </div>
                        </div>
                        {% endif %}
                        <div class="orderHistoryConeFlavors"> CONE FLAVORS </div>
                        {% if order.items.0.cone %}
                            <div class="orderItems">
                                <div class="orderItem" id="cone">
                                    {{ order.items.0.cone }}
                                </div>
                            </div>
                        {% else %}
                        <div class="orderItems">
                            <div class="orderItem">
                                No cones were selected
                            </div>
                        </div>
                        {% endif %}
                        <div class="spacer"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
	
	
	
	

</body>
</html>
