{% load static %}

<DOCTYPE html>

<html lang="en">
	<head>
        <meta charset="utf-8"/>
        <title>Admin Page</title>
		<link rel="stylesheet" type="text/css" href="{% static 'drone_cones/style.css' %}"/>

	</head>


	<body>
	
		<div class="topnav">
			<a href="home"> Home </a>
			<a href="order"> Order </a>
			<a href="drones"> Drones </a>
			<a href="admin"> Admin </a>
			<a href="account"> Account </a>
		</div>


		<div class="page-container">
		<div>
            <h2>Stock Information</h2>
            <ul>
                {% for product in stock_list %}
                    <li>{{ product.type }} - Stock: {{ product.stockAvailable }}</li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <h2>Drone Information</h2>
            <ul>
                {% for drone in drone_list %}
                    <li>{{ drone.droneName }} - Size: {{ drone.size }}, Scoops: {{ drone.scoops }}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
        	<h2>User Information</h2>
        	<ul>
            {% for user in user_list %}
                <li>{{ user.firstName }} {{ user.lastName }} - Email: {{ user.email }}, Address: {{ user.address }}, City: {{ user.city }}</li>
            {% endfor %}
        </ul>
        </div>
		</div>
    </body>
</html>
