<DOCTYPE html

<html lang="en">
	<head>
        	<meta charset="utf-8"/>
        	<title>Home Page</title>
		<link rel="stylesheet" type="text/css" href="style.css"/>

	</head>


	<body>
		<div class="topnav">
			<a href="home_page.html"> <u>H</u>ome </a>
			<a href="order_page.html"> <u>O</u>rder </a>
			<a href="drone_page.html"> <u>D</u>rones </a>
			<a href="account_page.html"> <u>A</u>ccount </a>
			<img class="baricon" src="../static/Cowpokes_Drone_Cones/computer.png" alt="test">
			<img class="peopleicon" src="../static/Cowpokes_Drone_Cones/address_book_users.png" alt="test">
		</div>




		<div class="page-container">
			<div class="bar"> HOME PAGE </div>
			<div class="outer-border"> 
				<div class="inner-border"> 
					<div> 
						Hello and welcome to drone cones, the hottest spot 
						web to get an ice cream cone, delivered right to your
						door! How cool is that? With the couple clicks of a
						computer mouse, you can have a cone delivered straight
						to you! Click the button below to get started!
					</div>

					<a class="order" href="order_page.html"> ORDER </a>
				
					<div>
						Getting ice cream delivered not your style? We also have a wide fleet
						of drones, owned by users like YOU which deliver ice cream. Feel like
						putting that old drone in the closet to use and making some money 
						while doing it? Click the button to below to get started!
					</div>

					<a class="order" href="drone_page.html"> DRONE </a>
				</div>
			</div>
		</div>
	</body>
</html>
