{% load static %}

<html lang="en">
	<head>
        	<meta charset="utf-8"/>
        	<title>Login Page</title>
		<link rel="stylesheet" type="text/css" href="{% static 'drone_cones/style.css' %}"/>

	</head>


	<body>
	
		<div class="topnav">
			<a href="home"> Home </a>
			<a href="order"> Order </a>
			<a href="drones"> Drones </a>
		</div>


		<div class="page-container">
			<div class="bar"> LOGIN </div>
			<div class="shift"> Enter your info below </div>
			<label class="spacer"> Username </label>
			<input type="text"> </input> 	
			<div></div>
			<label class="spacer"> Password </label>
			<input type="text"> </input> 
			<div></div>
			<input class="shift" type="submit" value="Submit">

		</div>
    </body>
</html>
