{% load static %}
<link rel="stylesheet" href="{% static 'drone_cones/style.css' %}">


<DOCTYPE html>

	<html lang="en">

	<head>
		<meta charset="utf-8" />
		<title>Order Page</title>
		<link rel="stylesheet" type="text/css" href="{% static 'drone_cones/style.css' %}" />
	</head>


	<body>

		<div class="topnav">
			<a href="{% url 'drone_cones:home' %}"> <u>H</u>ome </a>
			<a href="{% url 'drone_cones:order' %}"> <u>O</u>rder </a>
			<a href="{% url 'drone_cones:drones' %}"> <u>D</u>rones </a>
			<a href="{% url 'drone_cones:account' %}"> <u>A</u>ccount </a>
			<a href="{% url 'drone_cones:manager' %}"> <u>M</u>anager</a>
			<a href="/dronecones/logout">Logout</a>
			<img class="baricon" src="{% static 'drone_cones/images/computer.png' %}"
				onclick="location.href='../account'" style="cursor: pointer" alt="test">
            		<img class="peopleicon" src="{% static 'drone_cones/images/drone_cones_logo.png' %}"  alt="address book">
		</div>


		<div class="page-container">
			<div class="bar"> ORDER PAGE </div>
			<div class="outer-border">
				<div class="inner-border">
					<div class="margin">
						<div class="orderBar">
							Order from our wide variety of ice cream flavors ranging from vanilla to mint chocolate
							chip!
						</div>

						<!-- {% csrf_token %} -->

						<label class="spacer" for="Items">
							Choose your flavor of ice cream:
						</label>
						<sub class="spacer" for="Items">
							<br>Scoop 1:
						</sub>
						<div class="productBox">
							<div class="flavors1" id="flavors1">
							</div>
						</div>
						<sub class="spacer" for="Items">
							<br>Scoop 2:
						</sub>
						<div class="productBox">
							<div class="flavors2" id="flavors2">
							</div>
						</div>
						<label class="spacer" for="Items">
							<br>Choose your cone:
						</label>
						<div class="productBox">
							<div class="cones" id="cones">
							</div>
						</div>
						<label class="spacer" for="Items">
							Pick up to 3 toppings:
						</label>
						<div class="productBox">
							<div class="toppings" id="toppings">
							</div>
						</div>
						<script>
							function setTimeOrdered() {
								var currentTime = new Date();
								var formattedTime = currentTime.toISOString(); // Convert to ISO format

								// Set the formatted time in the hidden field
								document.getElementById('timeOrdered').value = formattedTime;
							}
							window.onload = function () {
								populate();
							};
						</script>
						<input type="hidden" id="items" name="items" value="" required />
						<div></div>
						<button id="addToCart">ADD TO CART</button>
					</div>

				</div>
			</div>
			<script src="{% static 'drone_cones/static.js' %}"></script>
		</div>
		<div class="page-container">
			<div class="bar">CART</div>
			<div class="outer-border">
				<div class="inner-border">
					<div class="margin">
						<div class="row">
							{% if cart == null %}
							<div>Cart is empty. Order now to get started!</div>
							{% elif cart|length == 0 %}
							<div>Cart is empty. Order now to get started!</div>
							{% else %}
							{% for item in cart %}
							<div class="column left" id="{{forloop.counter}}">
								<label for="column left">{{forloop.counter}}</label>
								<p>Scoop 1: {{ item.flavor1 }}</p>
								<p>Scoop 2: {{ item.flavor2 }}</p>
								<p>Cone: {{ item.cone }}</p>
								<p>Topping 1: {{ item.toppings.first }}</p>
								<p>Topping 2: {{ item.toppings.second }}</p>
								<p>Topping 3: {{ item.toppings.third }}</p>
								<button onclick="removeItemFromOrder('{{forloop.counter}}')">REMOVE</button>
							</div>
							{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page-container">
			<div class="bar">DELIVERY INFO</div>
			<div class="outer-border">
				<div class="inner-border">
					<div class="margin">
						<form action="{% url 'drone_cones:send_order' %}" method="post">
							{% csrf_token %}
							{{ form.as_p }}
							<label for="sameAddress" class="sameAddress"> Use account address? </label>
							<input type="checkbox" name="sameAddress" id="checkAddress" onclick="writeAddress(this)">
							<br>
							<label class="spacer" for="address"> ADDRESS </label>
							<input id="address1" type="text" name="address" maxlength="30" required>
							<div></div>
							<label class="spacer" for="address2"> ADDRESS 2 </label>
							<input id="address2" type="text" name="address2" maxlength="100">
							<div></div>
							<label class="spacer" for="city"> CITY </label>
							<input id="city" type="text" name="city" maxlength="100" required>
							<div></div>
							<label class="spacer" for="state"> STATE </label>
							<input id="state" type="text" name="state" maxlength="100" required>
							<div></div>
							<label class="spacer" for="zip"> ZIP </label>
							<input id="zip" type="number" name="zip" maxlength="100" required><br><br>
							<button id="order">CONFIRM ORDER</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>

	</html>
