
body {
	margin: 0px;
	background-color:008080;
}


div.page-container {
	margin: 20px;
	background-color: #c0c0c0;
	border-style: outset;
	border-width: 4px;
}

h1.center {
    text-align: center;
    margin: 0; /* Reset the default margin */
    padding: 0; /* Reset the default padding */
}

.topnav {
  overflow: hidden;
  background-color: #c0c0c0;
  border-style: outset;
  border-width: thick;
}

.topnav a {
	color: black;
	float: left;
	text-align: center;
	padding: 15px;	
	text-decoration: none;
	font-family: sans-serif;
	font-size: 20px;
}

.topnav a:hover {
	background-color: #cfcfcf;
	color: white;
}

.topnav a:active {
  background-color: #04AA6D;
  color: black;

}


/* Column identifiers for making horizontal columns */
.column {
	float: left;
	margin: 20px;
	background-color: #c0c0c0;
	border-style: inset;
	border-width: thick;


}

.left {
	width: 25%;
	background-color: #dbdbdb;
	padding: 4px;
	border-style: inset;
}

.middle {
	width: 25%;
	background-color: white;
}

.right {
	width: 25%;
	background-color: white;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.spacer {
	padding: 10px;
}

.margin {
	padding: 10px;
	background-color: white;
}

.bar {
	background-color: #000083;
	color: white;
	padding: 4px;
	font-family: sans-serif;
	font-size: 10px;
}

.pad {


}


a.order {
	margin: 30px;
	padding: 5px;
	background-color: white;
	color: grey;
	border-style: outset;
	font-family: sans-serif;
	font-size: 15px;
}

a.order:hover {
	color: #c0c0c0;

}


div.outer-border {
	background-color: #dbdbdb;
	padding: 4px;

}

div.inner-border {
	background-color: white;
	padding: 10px;
	border-style: inset;
	border-width: 2px;
	
}

.baricon {
	position: fixed;
	right: 15px;
	top: 7px;
}

.peopleicon {
	position: fixed;
	left: 15px;
	bottom: 15px;
}

.orderBar {
	margin-top: 20px;
	font-size: x-large;
	text-align: center;
}

.flavorDisplay {
	display: inline;
	background-color: darkgrey;
	margin-right: 50px;
	border-radius: 25px;
	padding: 10px;
	text-align: center;
}

.coneDisplay {
	display: inline;
	background-color: darkgrey;
	margin-right: 50px;
	border-radius: 25px;
	padding: 10px;
	text-align: center;
}

.scoopDisplay {
	display: inline;
	background-color: darkgrey;
	margin-right: 50px;
	border-radius: 25px;
	padding: 10px;
	text-align: center;
}

.productDisplay:hover {
	background-color: 008080;
}


.productBox {
	text-align: left;
	margin-top: 20px;
}

.warning {
	color: red;
	display: inline;
}

.checkoutButton {
	text-align: right;
}

.flavors {
	margin-bottom:25px;
}

.scoops {
	margin-top: 40px;
	margin-bottom: 80px;
}

.scoopText {
	margin-left: 30px;
}

.coneFlavText {
	margin-left: 30px;
}

.coneflavors {
	margin-top: 40px;
	margin-bottom: 20px;
}

.border-line {
	margin-top: 50px;
	border-bottom: 2px solid black;
}

.input {
	margin-top: 20px;
}

.sameAddress {
	margin-left: 20px;
}

.deliverBar {
	margin-top: 30px;
	font-size: x-large;
	text-align: center;
}

