body {
	margin: 0px;
	background-color: 008080;
}


div.page-container {
	margin: 20px;
	background-color: #c0c0c0;
	border-style: outset;
	border-width: 4px;
}

h1.center {
	text-align: center;
	margin: 0;
	/* Reset the default margin */
	padding: 0;
	/* Reset the default padding */
}

.topnav {
	overflow: hidden;
	background-color: #c0c0c0;
	border-style: outset;
	border-width: thick;
}


.topnav a {
	color: black;
	float: left;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 20px;
}

.topnav a:hover {
	background-color: #cfcfcf;
	color: white;
}

.topnav a:active {
	background-color: #04AA6D;
	color: black;
	
}

.sidenav {
	overflow: hidden;
	background-color: #c0c0c0;
	border-style: outset;
	border-width: thick;
}

.sidenav a:hover {
	background-color: #cfcfcf;
	color: white;
}

.sidenav a {
	color: black;
	float: left;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 20px;
}

.sidenav a:active {
	background-color: #04AA6D;
	color: black;
}


/* Column identifiers for making horizontal columns */
.column {
	float: left;
	margin: 20px;
	background-color: #c0c0c0;
	border-style: inset;
	border-width: thick;


}

.manager-left {
	width: 45%;
	background-color: #dbdbdb;
	/* padding: 4px; */
	padding-left: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 2px;
	border-style: inset;
	float: left;
	text-align: center;
}

.manager-right {
	width: 45%;
	background-color: #dbdbdb;
	/* padding: 4px; */
	padding-left: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	border-style: inset;
	float: right;
	text-align: center;
}

.manager-bottom {
	width: 96%;
	background-color: #dbdbdb;
	padding: 4px;
	text-align: center;
}

.left {
	width: 33%;
	background-color: #dbdbdb;
	padding: 4px;
	border-style: inset;
}

.middle {
	width: 33%;
	background-color: #dbdbdb;
}

.right {
	width: 33%;
	background-color: #dbdbdb;
	padding: 4px;
	border-style: inset;
	float: right;
}

.bottom {
	box-sizing: border-box;
	width: auto;
	background-color: #dbdbdb;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.spacer {
	padding: 10px;
}

.margin {
	padding: 10px;
	background-color: white;
}

.bar {
	background-color: #000083;
	color: white;
	padding: 4px;
	font-family: sans-serif;
	font-size: 10px;
}

a.order {
	margin: 30px;
	padding: 5px;
	background-color: white;
	color: grey;
	border-style: outset;
	font-family: sans-serif;
	font-size: 15px;
}

a.order:hover {
	color: #c0c0c0;

}


div.outer-border {
	background-color: #dbdbdb;
	padding: 4px;

}

div.inner-border {
	background-color: white;
	padding: 10px;
	border-style: inset;
	border-width: 2px;

}

.baricon {
	position: fixed;
	right: 15px;
	top: 7px;
}

.peopleicon {
	position: fixed;
	left: 15px;
	bottom: 15px;
}

.orderBar {
	margin-top: 20px;
	font-size: x-large;
	text-align: center;
}

.flavor1Display {
	display:inline-block;
	background-color: darkgrey;
	margin-right: 50px;
	border-radius: 25px;
	padding: 10px;
	text-align: center;
	cursor: grab;
}

.flavor2Display {
	display:inline-block;
	background-color: darkgrey;
	margin-right: 50px;
	border-radius: 25px;
	padding: 10px;
	text-align: center;
	cursor: grab;
}

.coneDisplay {
	display: inline-block;
	background-color: darkgrey;
	margin-right: 50px;
	border-radius: 25px;
	padding: 10px;
	text-align: center;
	cursor: grab;
}

.toppingsDisplay {
	display: inline-block;
	background-color: darkgrey;
	margin-right: 50px;
	border-radius: 25px;
	padding: 10px;
	text-align: center;
	cursor: grab;
}

.scoopDisplay {
	display: inline;
	background-color: darkgrey;
	margin-right: 50px;
	border-radius: 25px;
	padding: 10px;
	text-align: center;
}

.productDisplay:hover {
	background-color: 008080;
}


.productBox {
	text-align: left;
	margin-top: 20px;
}

.warning {
	color: red;
	display: inline;
}

.checkoutButton {
	text-align: right;
}

.flavors {
	margin-bottom: 25px;
}

.cones {
	margin-bottom: 25px;
}

.toppings {
	margin-bottom: 25px;
}

.scoops {
	margin-top: 40px;
	margin-bottom: 80px;
}

.scoopText {
	margin-left: 30px;
}

.coneFlavText {
	margin-left: 30px;
}

.coneflavors {
	margin-top: 40px;
	margin-bottom: 20px;
}

.border-line {
	margin-top: 50px;
	border-bottom: 2px solid black;
}

.input {
	margin-top: 20px;
}

.sameAddress {
	margin-left: 20px;
}

.deliverBar {
	margin-top: 30px;
	font-size: x-large;
	text-align: center;
}

/* body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
  } */
  
  .product-container {
	display: flex;
	gap: 20px; /* Adjust the gap as needed */
  }
  
  .product-card {
	flex: 1;
	border: 1px solid black;
	margin: 10px; /* Adjust the margin as needed */
	padding: 20px;
	text-align: center;
	max-width: 300px; /* Adjust the max-width as needed */
  }

  .orderHistoryScoops {
	margin-top: 15px;
	font-size: medium;
  }

  .dateOrdered {
	font-size: large;
	margin-top: 25px;
  }

  .orderItems {
	margin-left: 30px;
  }
  
  .orderHistoryToppings {
	margin-top: 15px;
	font-size: medium;
  }

  .orderHistoryConeFlavors {
	margin-top: 15px;
	font-size: medium;
  }